<!DOCTYPE html>
<html>
<head>
    <title>Redirecting to PayU</title>
</head>
<body>
    <h1>Redirecting to PayU...</h1>
 <!-- redirect_to_payu.html -->

<html>
    <body onload="document.forms['payu_form'].submit()">
        <form name="payu_form" action="{{ data.payu_url }}" method="post">
            {% csrf_token %}
            {% for key, value in data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endfor %}
        </form>
    </body>
    </html>
    

    <script>
        // Automatically submit the form after page load
        document.getElementById('payu-form').submit();
    </script>
</body>
</html>
